* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(27, 41, 57);
    --text-light-color: rgb(227, 230, 232);
    --trannsparent-bg-color: rgba(255, 255, 255, 0.3);
    --trasnparent-dark-color: rgba(0, 0, 0, 0.3);
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: var(--text-light-color);
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    background: var(--main-bg-color);
    color: var(--text-light-color);
    font-family: sans-serif;
}

.full-screen {
    width: 100%;
    height: 100svh;
}

.flex {
    display: flex;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
}

.container {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1rem;
}

.players-container {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
    column-gap: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--text-light-color);
}

.player-box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
}

.player-box.active {
    background-color: var(--trannsparent-bg-color);
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    gap: 5px;
    margin: 3rem auto;
    background-color: aqua;
}

.board-item {
    background-color: var(--main-bg-color);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    /*font-weight: bold;*/
}

.board-item.active {
    background-color: var(--trasnparent-dark-color);
}

.main-form {
    visibility: hidden;
    margin-bottom: 50px;
}

.result-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    padding: 1rem;
    margin-inline: auto;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid var(--text-light-color);
    box-shadow: 0 10px 80px 20px black;
    background-color: var(--main-bg-color);
    cursor: default;
}

@media (max-width: 600px){
    .result-container {
        top: 40%;
    }
}

.result-container.active {
    opacity: 1;
    visibility: visible;
    animation: forwards 5s falls-down;
    z-index: 10;
}

@keyframes falls-down {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-70%);
    }
    30% {
        opacity: 1;
        transform: translateX(-50%) translateY(100%);
    }
    80% {
        opacity: 1;
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
        visibility: hidden;
    }
}

.big-player-result {
    font-size: 5rem;
    padding-bottom: 0.8rem;
}

.winner .big-player-result {
    color: aqua;
}

.text-result {
    font-size: 2rem;
}

.btn {
    display: block;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--text-light-color);
    box-shadow: 5px 5px 15px 5px black;
    background-color: var(--main-bg-color);
    color: var(--text-light-color);
    cursor: pointer;
}

.reset-controls {
    display: flow;
    padding: 1rem;
    justify-content: center;
    width: fit-content;
    max-width: min(400px, 100%);
    margin-inline: auto;
}
